.addBtn{
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap:6px;
  align-items: center;
 background-color: #03922e;
 margin-bottom: 10px;
 font-weight: 400;
 font-size:medium ;
 color: aliceblue;
 width: auto;
 cursor: pointer;
}
.addBtnCont{
    display: flex;
    justify-content: flex-end;
    
}
.formData {
  position: absolute;
  top:100px;
  bottom:100px;
  left:100px;
  right: 100px; 
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
