.resetForm {
    background-color: rgb(190, 187, 188);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    border-radius: 10px;
}

    .passwordHide{
  position: absolute;
  right: 10px;
  top: 15px;
}

.passwordInputCont{
  display: flex;
  
  justify-content: space-between;
  position: relative;
}