.resetForm {
    background-color: rgb(216, 195, 202);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    border-radius: 10px;
}
