.forgetCont{
    display: flex;
    background-color: rgb(228, 230, 230);
    width: 20rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding:10px;
    border-radius: 5px;
border-color: rgb(168, 160, 160);
    border-style: solid;
    border-width: 1px;
}

h1{
    font-size: 23px;
    font-weight: 500;
}
.submitDone{
background-color: aqua;
    
}
