.loginCont {
  display: flex;
 flex-direction: column;
 justify-content: center;
 min-height: 100vh;
}
.forgetPass{
  display: flex;
flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  
  margin-top: 10px;
}
.forgetPassCont{
  
  justify-content: center;
  display: flex;
  margin-top: 10px;

}
.forgetLink{
    text-decoration: none;
  color: inherit;

}
.login{

  background-color: rgb(235, 239, 241);
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(111, 106, 117, 0.604);
}

input {
  padding: 15px;
  display: flex;
  gap: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(223, 229, 229);
  box-sizing: border-box;
  width: 100%;
  
}
button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  margin: 10px;
  gap: 20px;
  width: 300px;
  
}
.heading {
  font-size: x-large;
  font-weight: 400;
}

label {
  color: rgb(0, 0, 0);
}
.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  /* font-display: block; */
  font-weight: 300;
  font-size: larger;
}
.loginError {
  font-size: larger;
  color: red;
  
  padding: 10px;
}
.passwordInputCont{
  display: flex;
  
  justify-content: space-between;
  position: relative;
 
}
.passwordHide{
  position: absolute;
  right: 10px;
  top: 15px;

}
.passInput{
   border-color: rgb(227, 11, 11);
  border-style: solid;
}