  body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */ */
/* the toast box itself */
.Toastify__toast {
  background-color: #1a1a2e;
  color: white;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
}

/* the progress bar at the bottom */
.Toastify__progress-bar {
  background-color: pink;
}

/* close button */
.Toastify__close-button {
  color: white;
}